<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>EMS Project</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 text-center">
                <h1>Employee Database</h1>
                <hr>
                <h3 class="fs-6 text-secondary">Easiest way to manage employee data</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>