{% extends 'ems/base.html' %}
{% block content %}
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Complete Details of Employee
        </div>
        <div class="card-body">
            <h2>{{ employee.first_name|capfirst }} {{ employee.last_name|capfirst }}</h2>
            <hr>
            <p><strong>Email ID:</strong> <span class="text-secondary">{{ employee.email_id }}</span></p>
            <p><strong>Phone:</strong> <span class="text-secondary">{{ employee.phone_number }}</span></p>
            <p><strong>Address: </strong> <span class="text-secondary">{{ employee.address }}</span></p>
            <p><strong>Gender:</strong> <span class="text-secondary">{{ employee.gender }}</span></p>
            <p><strong>Date of Birth:</strong> <span class="text-secondary">{{ employee.dob }}</span></p>
            <p><strong>Joining Date:</strong> <span class="text-secondary">{{ employee.joining_date }}</span></p>
            {% if employee.jobs.all %}
            <ul class="list-group">
                {% for job in employee.jobs.all %}
                <li class="list-group-item">{{ job.name }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}